/* 에스코어 시작  */

/* 에스코어 4 레귤러 */
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 5 미들 */
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 에스코어 6 볼드 */
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 부분 시작 */



.inner {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
  color: #111111;
}

.wrap {
  font-family: 'S-CoreDream-5Medium';
  font-size: 18px;
  width: 1900px;
  margin: 0 auto;
}

.title {
  font-family: 'IM_Hyemin-Regular';
  font-size: 30px;
  font-weight: 700;
}

.title_p {
  font-family: 'IM_Hyemin-Bold';
  font-size: 45px;
}

a {
  text-decoration: none;
}

/* 공통 부분 끝 */

/* 헤더 + 네비 시작 */

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a img {}

header a ul {}

header ul li {
  display: inline-block;
}

header ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #111111;
}

header ul li:not(:first-child) {
  margin-left: 75px;
}
header .nav_box {
  transform: translateY(10px);
}

header .nav_box a {
  background-color: #231F20;
  padding: 6px 36px;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  text-decoration: none;
}

.nav {
  position: relative;
  top: 12px;
}

.nav li::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #a06335;
  transition: .2s;
  box-sizing: border-box;
  transform: translateY(10px);
}

.nav li::after {}

.nav li:hover a {
  color: #6F4424;
}

.nav li:hover::after {
  width: 100%;
}


/* 헤더 + 네비 끝 */


/* 사이드바 */

aside {
  z-index: 3;
  position: fixed;
  right: 3%;
  top: 20%;
}

aside input {
  display: none;
}

aside label {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  left: 54px;
}

aside input:checked~.content {
  display: none;
}

aside input:checked~label {
  display: none;
}

aside .content a {
  perspective: 500px;
}

aside .content .item {
  backface-visibility: hidden;
  transition: 1s;
}

aside .content .item.front {
  position: absolute;
  left: -9px;
  bottom: -11px;
}

aside .content:hover .item.front {
  transform: rotateY(180deg);
}

aside .content .item.back {
  transform: rotateY(-180deg);
}

aside .content:hover .item.back {
  transform: rotateY(0deg);
}


/* 사이드바끝 */

/* 메인 시작 */

.main {
  height: 720px;
}

.main .slider {
  width: 1900px;
  height: 720px;
}

/* 메인 끝 */


/* art1 시작 */

.art1 {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;


}

.art1 .title {
  margin-top: 70px;
}

.art1 .container {
  display: flex;
  text-align: center;
  margin-bottom: 60px;
}

.art1 li:first-child {
  margin-top: 50px;
}

.art1 li:last-child {
  font-size: 14px;
  color: #58595B;
  margin-top: 13px;
}


/* art1 끝 */



/* art2 시작 */

.art2 {
  position: relative;
  margin-bottom: -2px;
  margin-top: 50px;
}


.art2_btn_group {
  position: absolute;
  display: flex;
  bottom: 150px;
  right: 595px;
}

.btn_fbrown {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #6F4424;
  background-color: #6F4424;
  color: white;
  font-family: 'S-CoreDream-6Bold';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}


.btn_nbrown {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #6F4424;
  color: #6F4424;
  font-family: 'S-CoreDream-6Bold';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 12px;
  transition: .2s;

}

.btn_nbrown:hover {
  border: 2px solid #6F4424;
  background-color: #6F4424;
  color: white;
}





/* art2 끝 */


section {
  box-sizing: border-box;
  padding-top: 50px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(../images/section_bgimg.png);
  flex-direction: column;
  position: relative;
  background-color: #F5F5F5;
  z-index: 2;
}

section .title {
  margin-top: 20px;
  padding-bottom: 65px;
}

section #player {
  position: relative;
  z-index: 2;
  border-radius: 30px;

}

section .obj1>img {
  position: absolute;
  left: 401px;
  top: 50px;
  z-index: 1;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

section .obj2>img {
  position: absolute;
  right: 239px;
  bottom: 153px;
  z-index: 1;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

section .obj3>img {
  position: absolute;
  left: 200px;
  bottom: -50px;
  z-index: 1;
  animation-name: obj3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes obj3 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}



/* art3 시작 */

.art3 {
  height: 1210px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.art3_lbox3 {
  position: relative;
  margin-top: -4px;
}


.art3_lbox3 span a {
  font-size: 16px;
  position: absolute;
  color: white;
  bottom: 50px;
  left: 48px;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .2s;
}

.art3_lbox3 span a:hover {
  background-color: white;
  color: #571C1F;

}


.art3_rbox_sub_group {
  display: flex;
  margin-top: -2px;
}


.art3_rbox_group {
  display: flex;
  flex-direction: column;
}

.art3_rbox1 {
  width: 600px;
  height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.art3_rbox1 .img_box img {
  transform: scale(1.2);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}


.art3_rbox2 {
  display: flex;
  margin-top: -1px;
}


.art3_rbox3 {
  position: relative;
}

.art3_rbox3 span a {
  font-size: 16px;
  font-weight: lighter;
  position: absolute;
  color: #571C1F;
  bottom: 340px;
  left: 118px;
  padding: 5px 10px;
  border: 1px solid #571C1F;
  border-radius: 10px;
  box-sizing: border-box;
  transition: .2s;
}

.art3_rbox3 span a:hover {
  background-color: #571C1F;
  color: white;
}


.art3_lbox2 {
  overflow: hidden;
}

.art3_lbox2 img:first-child {
  transition: .3s;
}


.art3_lbox2 img:first-child:hover {
  transform: scale(1.05);
}

.art3_rbox2,
.art3_rbox1 {
  overflow: hidden;
}

.art3_rbox2 img,
.art3_rbox1 img {
  transition: .3s;
}


.art3_rbox2 img:first-child:hover {
  transform: scale(1.05);
}

/* art3 끝 */



/* footer 시작 */

footer {
  width: 1200px;
  position: relative;
  margin-top: 50px;
  height: 300px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer .footer_nav ul {
  position: absolute;
  left: 370px;
  top: 40px;
}

footer .footer_nav li {
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
}

footer .footer_nav ul li a {
  text-decoration: none;
  color: #111111;
}

footer ul li:last-child a {
  color: #EE4955;
}


.leaf {
  position: absolute;
  right: 363px;
  top: -24.3px;
}

.line {
  z-index: 2;
  display: block;
  content: "";
  height: 5px;
  background-color: #DEDEDE;
  position: absolute;
  top: 85px;
}


.footer_text {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 360px;
  font-size: 14px;
  color: #979797;
}


.footer_text ul {
  margin-left: 75px;
}

.footer_text ul li {
  margin: 20px 0;
}

.up {
  position: absolute;
  right: 430px;
  top: 200px;
}

/* footer 끝 */