@font-face {
  font-family: 'ChosunSm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
}


/* 공통부분 */

.inner {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;

}

.wrap {
  width: 1900px;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;

}

* {}

/* 메인 시작 */

.main {
  position: relative;
  background: url(../images/main_image.png) center no-repeat;
  height: 375px;
}

.main nav {
  font-family: 'ChosunSm';
  color: white;
  display: flex;
  justify-content: space-between;

}

.main nav a {
  text-decoration: none;
}


.main .logo {
  position: absolute;
  top: 18px;
  left: calc(50% - 57px);
}

.main_text {
  position: absolute;
  font-family: 'ChosunSm';
  color: white;
  font-size: 20px;
  left: 400px;
  bottom: 50px;
}

.main_text li {
  margin-top: 18px;
}

.main_text li:first-child {
  font-weight: 500;
}

.main_text a {
  font-family: 'ChosunSm';
  color: white;
  text-decoration: underline;
  font-size: 16px;
}


.main .nav_left {}

.main .nav_left ul {
  margin-left: 370px;
}

.main .nav_left ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 40px;
}

.main .nav_left ul li a {
  font-family: 'ChosunSm';
  font-size: 22px;
  color: white;
}

.main .nav_right {}

.main .nav_right ul {
  margin-right: 370px;

}

.main .nav_right ul li {
  display: inline-block;
  margin-left: 100px;
  margin-top: 40px;
}

.main .nav_right ul li a {
  font-family: 'ChosunSm';
  font-size: 22px;
  color: white;
}

.main .nav_right li:first-child {
  color: white;
  text-decoration: underline;

}

.main .collect {
  position: absolute;
  right: 370px;
  bottom: 25px;
}


.main,
.title,
.art1,
.art2 {
  /* display: none; */
}



/* 메인 끝 */


/* art1 시작  */


.art1 {
  position: relative;
  height: 1223px;
  background: url(../images/art1_bgimage.png);
}

.art1 .container1 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 500px;
  bottom: 342px;
  width: 900px;
  height: 172px;
}

.art1 .container1 .box {
  position: relative;
  width: 370px;
  height: 172px;
  overflow: hidden;
}

.art1 .container1 .box .obj {
  position: absolute;
  right: -100px;
  bottom: -5px;
  transition: .3s;
}

.art1 .container1 .box:hover>.obj {
  transform: translateX(-74px);
}

.art1 .container1 .box .text a {
  position: absolute;
  bottom: 53px;
  left: 67px;
  font-size: 14px;
  font-weight: bold;
  color: #4E3836;
}

/* /////////////////////////////////// */

.art1 .container2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 500px;
  bottom: 95px;
  width: 900px;
  height: 172px;
}

.art1 .container2 .box {
  position: relative;
  width: 370px;
  height: 172px;
  overflow: hidden;
}

.art1 .container2 .box .obj {
  position: absolute;
  right: 20px;
  bottom: -50px;
  transition: .3s;
}

.art1 .container2 .box:hover>.obj {
  transform: translateY(-40px) rotate(3deg);
}

.art1 .container2 .box .text a {
  position: absolute;
  bottom: 53px;
  left: 67px;
  font-size: 14px;
  font-weight: bold;
  color: #4E3836;
}





/* art1 끝 */


/* art2 시작 */


.art2 {
  position: relative;
  height: 981px;
  background: url(../images/art2_bgimage.png);
}

.art2 .container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 500px;
  bottom: 100px;
  width: 900px;
  height: 172px;
}

.art2 .container .box {
  position: relative;
  width: 370px;
  height: 172px;
  overflow: hidden;
}

.art2 .container .box .obj {
  position: absolute;
  right: 28px;
  bottom: -60px;
  transition: .3s;
}

.art2 .container .box:hover>.obj {
  transform: translateY(-47px) rotate(10deg);
}

.art2 .container .box .text a {
  position: absolute;
  bottom: 53px;
  left: 67px;
  font-size: 14px;
  font-weight: bold;
  color: #4E3836;
}

/* art2 끝 */



/* art3 시작 */

.art3 {
  margin-top: 100px;
}

.art3 .container1 {
  display: flex;
  justify-content: space-between;
}

.art3 .container1 .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center
}

.art3 .container1 .box .text {
  margin-top: 170px;
}

.art3 .container1 .box .text ul {}

.art3 .container1 .box .text ul li:nth-child(1) {
  font-family: 'ChosunSm';
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ce5a4f;
  padding-bottom: 10px;
}

.art3 .container1 .box .text ul li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;

}


.art3 .container1 .box .text ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #4E3836;
}


.art3 .container1 .box .obj {
  position: absolute;
  bottom: 170px;
  opacity: 0.3;
  transition: .3s;

}

.art3 .container1 .box img:hover~.obj {
  opacity: 1;
  transform: scale(1.02);
}

.art3 .container1 .box .obj:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}





.art3 .container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.art3 .container2 .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center
}

.art3 .container2 .box .text {
  margin-top: 170px;
}

.art3 .container2 .box .text ul {}

.art3 .container2 .box .text ul li:nth-child(1) {
  font-family: 'ChosunSm';
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #963f37;
  padding-bottom: 10px;
}

.art3 .container2 .box .text ul li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;

}


.art3 .container2 .box .text ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #4E3836;
}


.art3 .container2 .box .obj {
  position: absolute;
  bottom: 170px;
  opacity: 0.3;
  transition: .3s;

}

.art3 .container2 .box img:hover~.obj {
  opacity: 1;
  transform: scale(1.05);
}

.art3 .container2 .box .obj:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;

}


/* art3 끝 */




/* art4 시작 */


.art4 {
  text-align: center;
  margin-top: 100px;

}

.art4 label {
  padding: 7px 25px;
  border: 1px solid #963f37;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #4E3836;
  transition: .3s;
}

.art4 label:hover {
  color: white;
  background-color: #963f37;
}


.art4 input {
  display: none;
}

.art4 input:checked ~ .more {
  display: block;
}

.art4 input:checked ~ label {
  display: none;
}


.art4 .more {
  display: none;
  margin-top: 50px;
}


/* 아트 4 컨테이너1 시작 */


.art4 .container1 {
  display: flex;
  justify-content: space-between;
}

.art4 .container1 .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center
}

.art4 .container1 .box .text {
  margin-top: 170px;
}

.art4 .container1 .box .text ul {}

.art4 .container1 .box .text ul li:nth-child(1) {
  font-family: 'ChosunSm';
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ce5a4f;
  padding-bottom: 10px;
}

.art4 .container1 .box .text ul li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;

}


.art4 .container1 .box .text ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #4E3836;
}


.art4 .container1 .box .obj {
  position: absolute;
  bottom: 170px;
  opacity: 0.3;
  transition: .3s;

}

.art4 .container1 .box img:hover~.obj {
  opacity: 1;
  transform: scale(1.02);
}

.art4 .container1 .box .obj:hover {
  opacity: 1;
  transform: scale(1.02);
  cursor: pointer;
}









/* 아트 4 컨테이너2 시작 */

.art4 .container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.art4 .container2 .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center
}

.art4 .container2 .box .text {
  margin-top: 170px;
}

.art4 .container2 .box .text ul {}

.art4 .container2 .box .text ul li:nth-child(1) {
  font-family: 'ChosunSm';
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #963f37;
  padding-bottom: 10px;
}

.art4 .container2 .box .text ul li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 30px;

}


.art4 .container2 .box .text ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #4E3836;
}


.art4 .container2 .box .obj {
  position: absolute;
  bottom: 170px;
  opacity: 0.3;
  transition: .3s;

}

.art4 .container2 .box img:hover~.obj {
  opacity: 1;
  transform: scale(1.05);
}

.art4 .container2 .box .obj:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;

}
/* art4 끝 */



















/* footer 시작 */


.footer {
  margin-top: 150px;
  position: relative;
  background-color: #A36D6A;
  height: 683px;
  color: white;
  font-size: 14px;
}

.footer img:nth-child(1) {
  position: absolute;
  right: 464px;
  top: 52px;
}

.footer img:nth-child(2) {
  position: absolute;
  right: 464px;
  bottom: 75px;
}

.footer .text_box_group {
  position: absolute;
  top: 52px;
  left: 400px;
  display: flex;
  flex-direction: column;
}


.footer .box1 {
  margin-bottom: 38px;
}

.footer .box2 {
  margin-bottom: 35px;
}

.footer .box3 {
  margin-bottom: 70px;
}


.footer .box1 li:nth-child(1) {
  font-size: 20px;
  font-family: 'ChosunSm';
  margin-bottom: 19px;
}

.footer .box1 li:nth-child(2) {
  font-size: 42px;
  font-family: 'ChosunSm';
}


/* 박스 2,3 공통 */


.footer .box2 a,
.footer .box3 a {
  text-decoration: underline;
  color: white;
  font-size: 14px;

}

.footer .box4 li {
  margin-bottom: 15px;
}

.footer .box2 li:nth-child(1),
.footer .box3 li:nth-child(1) {
  font-size: 20px;
  font-family: 'ChosunSm';
  margin-bottom: 20px;
}

.footer .box2 li:nth-child(2),
.footer .box3 li:nth-child(2) {
  margin-bottom: 20px;

}


.footer .box4 li:nth-child(1) {
  margin-bottom: 18px;
}

.footer .box4 li:nth-child(5) {
  margin-bottom: 20px;
}


/* footer 끝 */