@font-face {
  font-family: 'ChosunSm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Danjunghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
}


.fixed {
  position: fixed;
  z-index: -1;
  left: calc(50% - 950px)
}

/* 공통부분 */

.inner {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;

}

.wrap {
  width: 1900px;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;

}

* {}

/* 가로형 텍스트 그룹 */

.text_g1 {}

.text_g1 li {
  display: inline-block;
  color: #4E3836;
}

.text_g1 a {
  margin-left: 10px;
  color: #C09A98;
  text-decoration: underline;
}

/* 가로형 텍스트 그룹 끝 */



/* 세로형 텍스트 그룹 시작 */

.text_g2 {}

.text_g2 ul {}

.text_g2 li:nth-child(1) {
  margin-bottom: 20px;
  font-weight: bold;
}

.text_g2 li:nth-child(2) {
  margin-bottom: 10px;
}

.text_g2 li:nth-child(3) {
  margin-bottom: 20px;
}

.text_g2 li a {
  color: #C09A98;
  text-decoration: underline;
}

/* 세로형 텍스트 그룹 끝 */

/* 세로형 텍스트 오른쪽 기준 시작 */


.text_g3 {
  text-align: right;
}

.text_g3 ul {}

.text_g3 li:nth-child(1) {
  margin-bottom: 20px;
  font-weight: bold;
}

.text_g3 li:nth-child(2) {
  margin-bottom: 20px;
}

.text_g3 li:nth-child(3) {
  margin-bottom: 20px;
}

.text_g3 li a {
  color: #C09A98;
  text-decoration: underline;
}


/* 세로형 텍스트 오른쪽 기준 끝 */

/* 2줄짜리 세로형 왼쪽 기준 시작 */

.text_g4 {
  text-align: left;
}

.text_g4 ul {}

.text_g4 li:nth-child(1) {
  margin-bottom: 20px;
}

.text_g4 li:nth-child(2) {
  margin-bottom: 20px;
}

.text_g4 li:nth-child(3) {
  margin-bottom: 20px;
}

.text_g4 li a {
  color: #C09A98;
  text-decoration: underline;
}

/* 2줄짜리 세로형 왼쪽 기준 끝 */


/* 메인 시작 */

a {
  text-decoration: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
}


.main {
  position: relative;
  background: url(../images/main_image.png) center no-repeat;
  height: 900px;
}

.main nav {
  font-family: 'ChosunSm';
  color: white;
  display: flex;
  justify-content: space-between;
}

.main .logo {
  position: absolute;
  top: 18px;
  left: calc(50% - 57px);
}

.main_text {
  position: absolute;
  font-family: 'ChosunSm';
  color: white;
  font-size: 20px;
  left: 400px;
  bottom: 50px;
}

.main_text li {
  margin-top: 18px;
}

.main_text li:first-child {
  font-weight: 500;
}

.main_text a {
  font-family: 'ChosunSm';
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.main .nav_left {}

.main .nav_left ul {
  margin-left: 370px;
}

.main .nav_left ul li {
  display: inline-block;
  margin-right: 100px;
  margin-top: 40px;
}

.main .nav_left ul li a {
  font-family: 'ChosunSm';
  font-size: 22px;
  color: white;
}

.main .nav_right {}

.main .nav_right ul {
  margin-right: 370px;

}

.main .nav_right ul li {
  display: inline-block;
  margin-left: 100px;
  margin-top: 40px;
}

.main .nav_right ul li a {
  font-family: 'ChosunSm';
  font-size: 22px;
  color: white;
}



/* 메인 끝 */

/* art1 시작  */


.art1 {
  position: relative;
  height: 800px;
  margin-top: -2px;
}

.art1 .ast1 {
  position: absolute;
  right: 721px;
  bottom: 255px;
}

.art1 .ast2 {
  position: absolute;
  right: 379px;
  bottom: 255px;
}

.art1 .text_g1 {
  position: absolute;
  top: 160px;
  right: 525px;
}

.art1 .text_g1 ul li:first-child {
  letter-spacing: -2px;
}


.art1 .text_g2 {
  position: absolute;
  right: 475px;
  bottom: 60px;
}


/* art1 끝 */

/* art2 시작 */


.art2 {
  position: relative;
}


.art2 .text_g1 {
  position: absolute;
  top: 154px;
  left: 502px;
}

.art2 .text_g1 ul li:first-child {
  letter-spacing: -2px;
}

.art2 .text_g3 {
  position: absolute;
  left: 458px;
  bottom: 60px;
}

.art2 .imgbox {
  position: absolute;
  left: 350px;
  top: 217px;
  overflow: hidden;
}

.art2 .imgbox .obj {
  transition: .3s;
}


.art2:hover .imgbox .obj {
  transform: scale(1.05);
}


/* art2 끝 */

.divide2 {
  margin-top: -2px;
}


/* art3 시작 */

.art3 {
  position: relative;
  top: -2px;
  height: 1425px;
  background-image: url(../images/art3_image.png);
}

.art3:hover .ast1 {
  opacity: 1;
  transition-duration: 1s , 1s;
}
.art3:hover .ast2 {
  opacity: 1;
  transition-duration: 2s , 1s;
  
}

.art3:hover .ast3 {
  opacity: 1;
  transition-duration: 3s , 1s;
}

.art3:hover .ast4 {
  opacity: 1;
  transition-duration: 4s , 1s;
}




.art3 .ast1 {
  position: absolute;
  left: 388px;
  bottom: 489px;
  z-index: 1;
  opacity: .3;
}

.art3 .ast2 {
  position: absolute;
  left: 686px;
  bottom: 419px;
  z-index: 1;
  opacity: .3;

}

.art3 .ast3 {
  position: absolute;
  right: 684px;
  bottom: 359px;
  z-index: 1;
  opacity: .3;

}

.art3 .ast4 {
  position: absolute;
  right: 402px;
  bottom: 299px;
  z-index: 1;
  opacity: .3;

}

.art3 .text_g3 {
  position: absolute;
  right: 454px;
  bottom: 140px;
}

.art3 .text_g4 {
  line-height: 65px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 120px;
  left: 438px;
}

/* art3 끝 */

/* art4 시작 */

.art4 {
  z-index: 2;
top: -2px;
left: 0px;
  position: relative;
  background: url(../images/art4_image.png) center no-repeat;
  height: 1250px;

}

.art4 .text_g4 {
  position: absolute;
  top: 365px;
  right: 550px;
}



/* art4 끝 */


/* footer 시작 */


.footer {
  z-index: 1;
  position: relative;
  background-color: #A36D6A;
  height: 900px;
  margin-top: -200px;
  color: white;
  font-size: 14px;
}

.footer img:nth-child(1) {
  position: absolute;
  right: 464px;
  top: 252px;
}

.footer img:nth-child(2) {
  position: absolute;
  right: 464px;
  bottom: 54px;
}

.footer .text_box_group {
  top: 269px;
  left: 400px;
  position: absolute;
  display: flex;
  flex-direction: column;
}


.footer .box1 {
  margin-bottom: 38px;
}

.footer .box2 {
  margin-bottom: 35px;
}

.footer .box3 {
  margin-bottom: 70px;
}


.footer .box1 li:nth-child(1) {
  font-size: 20px;
  font-family: 'ChosunSm';
  margin-bottom: 19px;
}

.footer .box1 li:nth-child(2) {
  font-size: 42px;
  font-family: 'ChosunSm';
}


/* 박스 2,3 공통 */
.footer .box2 a,
.footer .box3 a {
  text-decoration: underline;
  color: white;
  font-size: 14px;

}

.footer .box4 li {
  margin-bottom: 15px;
}

.footer .box2 li:nth-child(1),
.footer .box3 li:nth-child(1) {
  font-size: 20px;
  font-family: 'ChosunSm';
  margin-bottom: 20px;
}

.footer .box2 li:nth-child(2),
.footer .box3 li:nth-child(2) {
  margin-bottom: 20px;

}


.footer .box4 li:nth-child(1) {
  margin-bottom: 18px;
}

.footer .box4 li:nth-child(5) {
  margin-bottom: 20px;
}


/* footer 끝 */